.container-grid_tecnologias {
  margin-top: 20px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 25px;
  margin-top: 20px;
}

.image-tecnologias {
  width: 30px;
  height: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px
}

.Tecnologias {
  width: 400px;
  height: 450px;
  background-color: chartreuse;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
}

.Tecnologias {
  max-width: 100%;
  max-height: 50%;
}
@media(max>=768px){
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .Tecnologias {
    width: calc(50% - 12.5px); /* 50% para 2 columnas y 12.5px de gap */
    height: calc(20% - 12.5px); /* 20% para 5 filas y 12.5px de gap */
    }
}
@media(max>=1024px){
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }


}
