.container-grid_proyect{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1px;
    margin-right: 10px;
}
.grid-container{
    border: 1px solid #fdfdfd;
    padding: 20px;
    margin-top: 30px;
    margin-right: 10px;
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
}



